<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
</head>
<body>	
	<div class="login">
		<div class="wrapper">
			{% block main %}
			<form action="/login" method="POST">
				<span>
					<h1>Login</h1>
				</span>
				<div data-validate = "Username is required">
					<span>Email</span>
					<input type="email" name="email" placeholder="Type your username">
				</div>
				<div data-validate="Password is required">
					<span>Password</span>
					<input type="password" name="password" placeholder="Type your password">
				</div>
				<div>
					<a href="{{ url_for('passwordRecovery') }}">
						Forgot password?
					</a>
				</div>
				<div>
					<div>
						<button type="submit">
							Login
						</button>
					</div>
				</div>
				<div>
					<span>
						Don't have an account?
					</span>
					<a href="{{ url_for('signup') }}">
						Sign Up
					</a>
				</div>
			</form>
			{% endblock %}
		</div>
	</div>
	<div></div>
</body>
</html>
