<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
</head>
<body>	
	<div>
		<div>
			<div>
				{% block main %}
				<form method="POST">
					<span>
						Login
					</span>
					<div data-validate = "Username is required">
						<span>Username</span>
						<input type="text" name="username" placeholder="Type your username">
						<span data-symbol="&#xf206;"></span>
					</div>
					<div data-validate="Password is required">
						<span>Password</span>
						<input type="password" name="pass" placeholder="Type your password">
						<span data-symbol="&#xf190;"></span>
					</div>
					<div>
						<a href="{{ url_for('passwordRecovery') }}">
							Forgot password?
						</a>
					</div>
					<div>
						<div>
							<button type="submit">
								Login
							</button>
						</div>
					</div>
					<div>
						<span>
							Don't have an account?
						</span>
						<a href="{{ url_for('signup') }}">
							Sign Up
						</a>
					</div>
				</form>
				{% endblock %}
			</div>
		</div>
	</div>
	<div></div>
</body>
</html>
