{% extends "login/login.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block main %}	
	<form action="{{ url_for('signup')}}" method="POST">
		{{ form.csrf_token }}
		{{ form.hidden_tag() }}

		<h2>Create new account</h2>
		<div>
			{{ form.firstName.label }}
			{{ form.firstName(class="form-control form-control-lg", id="name") }}

			{{ form.lastName.label }}
                    	{{ form.lastName(class="form-control form-control-lg", id="Surname") }}

			{{ form.email.label }}
                    	{{ form.email(class="form-control form-control-lg", id="email") }}

			{{ form.newPasswrd.label }}
                       	{{ form.newPasswrd(class="form-control form-control-lg", id="passwrd") }}

			{{ form.confirmPasswrd.label }}
                       	{{ form.confirmPasswrd(class="form-control form-control-lg", id="passwrd") }}
			<button type="submit">Sign up</button>
			<div><h3>Already have an account?</h3><a class="sign up" href="{{ url_for('login')}}">login</a></div>
		</div>
	</form>
{% endblock %}
