<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
</head>
<body>
	<div class="hero">
		<nav>
			<div class="logo">
				<h1>VirtualBar</h1>
			</div>
			<div class="login-buttons">
				<a href="{{ url_for('login') }}"><button>Login</button></a>
				<a href="{{ url_for('signup') }}"><button>Signup</button></a>
			</div>
		</nav>
		<div class="landing">
			<div class="description">
				<h1>Connect seamlessly, meet virtually, anytime, anywhere</h1>
				<h3>Experience effortless virtual hangouts with our application, connecting you with friends no matter where you are.</h3>
			</div>
		</div>
		<div class="About">
			<div>
			</div>
			<div>
			</div>
		</div>
	</div>
	<footer>
		<div class="copyrite">
			<h1>© 2024 VirtualBar, all rights reserved</h1>
		</div>
		<div class="footer-links">

		</div>
	</footer>
</body>
</html>
